altgraph==0.17
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
dearpygui==0.6.218
fake-headers==1.0.2
html5lib==1.1
idna==2.10
importlib-metadata==3.7.0
pgi==0.0.11.2
pkg-resources==0.0.0
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
requests==2.25.1
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
six==1.15.0
soupsieve==2.2
typing-extensions==3.7.4.3
urllib3==1.26.3
vext==0.7.4
vext.gi==0.7.4
webencodings==0.5.1
zipp==3.4.1
